<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
        <link rel="stylesheet" href="https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css">
        <link rel="stylesheet" href="landing.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <link rel="stylesheet" href="landing.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 id="chapter-title"></h1>
        <div class="product-image-carousels">
            <!-- Thumbnail track carousel -->
            <div class="thumbnails-slider">
             
          
             
            </div>
          
            <!-- Main image carousel -->
            <div class="main-image-slider">
 
            </div>
           
          </div>
          <p class="note" ></p>
          
          

          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js"></script>
          <script src="landing.js"></script>

    </body>
</html>

